[user]
	name = Berto Yáñez
	email = berto@ber.to
[github]
	user = bertez
[color]
	ui = true
[push]
	default = simple
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    type = cat-file -t
    dump = cat-file -p
[core]
	editor = vim
